body {
  background-color: darkgrey;
}

.mainDiv {
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  top: 150px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  margin-bottom: 30px;
}

.formInput.success input {
  border-color: green;
}

.formInput.error input {
  border-color: red;
}

.formInput span {
  font-size: 13px;
  color: red;
  visibility: hidden;
}

.formInput.error span {
  visibility: visible;
}

.formInput.success span {
  visibility: hidden;
}